async-ws/callback-ws/src/main/wsdl/CallbackWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CallbackService" targetNamespace="http://callback.sample.com/" xmlns:ns1="http://schemas.xmlsoap.org/wsdl/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://callback.sample.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://callback.sample.com/" version="1.0" xmlns:tns="http://callback.sample.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="resumeAsyncTask" type="tns:resumeAsyncTask" />
<xs:element name="resumeAsyncTaskResponse" type="tns:resumeAsyncTaskResponse" />
<xs:complexType name="resumeAsyncTask">
<xs:sequence>
<xs:element name="arg0" type="xs:int" />
<xs:element name="arg1" type="xs:long" />
<xs:element minOccurs="0" name="arg2" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="resumeAsyncTaskResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="resumeAsyncTaskResponse">
    <wsdl:part element="tns:resumeAsyncTaskResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="resumeAsyncTask">
    <wsdl:part element="tns:resumeAsyncTask" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Callback">
    <wsdl:operation name="resumeAsyncTask">
      <wsdl:input message="tns:resumeAsyncTask" name="resumeAsyncTask">
    </wsdl:input>
      <wsdl:output message="tns:resumeAsyncTaskResponse" name="resumeAsyncTaskResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CallbackServiceSoapBinding" type="tns:Callback">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="resumeAsyncTask">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="resumeAsyncTask">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="resumeAsyncTaskResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CallbackService">
    <wsdl:port binding="tns:CallbackServiceSoapBinding" name="CallbackPort">
      <soap:address location="http://127.0.0.1:8080/async-ws-callback/callback" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>